= simple_form_for @centro, html: { multipart: true } do |f|
  - if @centro.errors.any?
    #errors
      %h2
        = pluralize(@centro.errors.count, "error")
        precented this centro from saving
        %ul
          - @centro.error.full_messages.each do |msg|
            %li = msg
  .form-group
    = f.input :centro_iden, input_html: { class: 'form-control'}
  .form-group
    = f.input :centro_descripcion, input_html: { class: 'form-control'}
    
  =f.button :submit, class: 'btn btn-primary'


